*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    font-family: 'Inter', sans-serif;

}

header{
    background-color: white;
    height: 50px;
    display: flex;
    position: fixed;
    z-index: 500;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.aheader{
    margin:10px;
    font-size: small;
    text-decoration: none;
}
.titolo{
    background-color:rgb(91, 159, 248); 
    
}
h1{
   font-size: 60px;
   margin-left: 160px;
   padding-top:50px;
   width: 65%;
}
img{
    width: 90%;
}
.imgpartner{
    width: 450px;
}
#arrow{
    font-size: 40px;
}
.conteiner1{
    background-color:rgb(91, 159, 248);
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 400px;
    
}
.intro{
   /* background-color: pink;
    border:2px solid black;*/
    height: 300px;
    flex-basis: 25%;
   
}
.imgintro{
    padding: 24px;
    position: absolute;
    transform-style: preserve-3d;
    width: 55%;
}

.intro2{
   /* background-color: pink;
    border:2px solid black;*/
    
    height: 350px;
    flex-basis: 50%;
    
    display: flex;
    justify-content: center;

}

/*h2{
    font-size: 40px;
    margin-left: 215px;
    padding-top:50px;  
}*/
.radio{
    margin-left: 215px;
    padding-top:50px;
}


.conteiner2{
    /*background-color: rgb(167, 91, 91);*/
    display: flex;
    justify-content: center;
    min-height: 500px;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height: 250px;
  /*  background-color: aquamarine;*/

}
.parte1{
    width: 65%;
    height: 150px;
   /* background-color: pink;
    border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#fatturazione{
    margin-left:20px;
}


.section1{
  /*  background-color: pink;*/
    min-height: 705px;
    flex-basis: 20%;
    border:1px solid grey;
    margin: 20px;
    display: flex;
    flex-direction:column;
   
}
.contenuto{
    padding: 16px;
}
#simboli{
     margin-left: 90px;
    margin-top: 15px;
}
h3{
    margin-top: 50px;
}
#user1{
  /* background-color: aqua;*/
    text-align: center;
    height: 50px;
    border-bottom: 1px solid grey;
    padding: 15px;
   /* background-color: aqua;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid black;*/
}

.conteiner3{
   /* background-color: coral;*/
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section2{
   /* background-color: pink;*/
    height: 200px;
    width: 890px;
    border:1px solid gray; 
    display: flex;
    align-items: first baseline;
    justify-content: space-evenly;
}
.userc3{
    /*background-color: pink;*/
    height: 50px;
    width: 890px;
    display: flex;
    justify-content: center;
    border:1px solid gray;
    align-items: center; 
}
ul{
    list-style-type: none;

}
li{
    margin-top:20px;
}
.buttonc3{
    color:white;
    background-color: blue;
    width: 20%;
    height: 40px;

}

.conteiner4{
   /* background-color: darkgreen;*/
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3{
   /* background-color: pink;
    border:2px solid black;*/
    min-height: 300px;
    flex-basis: 40%;
    
  
}
.trovapartner{
    background-color: white;
    border: 1px solid grey
}
.section4{
   /* background-color: pink;
     border:2px solid black;*/
    min-height: 300px;
    flex-basis: 20%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
p{
    font-size: small;
}

.conteiner5{
    /*background-color: rgb(255, 251, 9);*/
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.section5{
    /*background-color: pink;
     border:2px solid black;*/
    min-height: 450px;
    margin:35px;
    flex-basis: 20%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.titolosection5{
    color:black;
    font-size: 20px;
}

.conteiner6{
    /*background-color: darkgray;*/
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section6{
   /* background-color: pink;
    border:2px solid black;*/
    height: 200px;
    flex-basis: 70%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.conteiner6s{
    background-color:rgb(91, 159, 248);
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section6s{
    /*background-color: pink;*/
    height: 200px;
    flex-basis: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
     
}
h5{
    font-size: 35px;
    color: rgb(97, 25, 25);
}
#button6{
    background-color: white;
    height: 25%;
    width: 25%;
}


h2{
    font-size: 30px;
}
#link6{
    text-decoration:underline;
    color:blue;
    font-size: small;
}

.conteiner7{
    background-color: rgb(119, 178, 189);
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgminisection{
    width: 50%;
    filter: invert(1);
    transition: 1s;
}
.imgminisection:hover {
    transform: scale(2);
}
#designit{
    width: 50%;
}
.section7{
   background-color: beige;
    height: 400px;
    width: calc(100% / 3);
   /* border:2px solid black;*/
    display: flex;
    flex-wrap: wrap;
}
#section7center{
    background-color: beige;
    height: 400px;
    width: calc(100% / 3);
   /* border:2px solid black;*/
    display: flex;
    flex-wrap: wrap;
    padding:15px;
    overflow-y: auto;
}
.minisection1{
    background-color: rgb(0, 255, 115);
    height: 200px;
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   /* border:1px solid black;*/
}


.minisection2{
    background-color: rgb(109, 19, 19);
    height: 200px;
    width: calc(100% / 2);
    display: flex;
    
    text-align: center;
    justify-content: center;
    /*border:1px solid black;*/
}
.minisection3{
    background-color: rgb(0, 193, 252);
    height: 200px;
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   /* border:1px solid black;*/
}
.minisection4{
    background-color: rgb(255, 5, 5);
    height: 200px;
    width: calc(100% / 2);
    display: flex;
    
    text-align: center;
    justify-content: center;
   /* border:1px solid black;*/
}
.minisection5{
    background-color: rgb(196, 2, 2);
    height: 200px;
    width: calc(100% / 2);
    display: flex;
    
    text-align: center;
    justify-content: center;
   /* border:1px solid black;*/
}
.minisection6{
    background-color: rgb(165, 243, 253);
    height: 200px;
    width: calc(100% / 2);
    display: flex;
    
    text-align: center;
    justify-content: center;
   /* border:1px solid black;*/
}
.minisection7{
    background-color: rgb(5, 30, 255);
    height: 200px;
    width: calc(100% / 2);
    display: flex;
    
    text-align: center;
    justify-content: center;
   /* border:1px solid black;*/
}
.minisection8{
    background-color: rgb(230, 255, 5);
    height: 200px;
    width: calc(100% / 2);
    display: flex;
    
    text-align: center;
    justify-content: center;
    /*border:1px solid black;*/
}


.conteiner8{
    
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 400px;
}
.section8{
   /* background-color: pink;
   border: 1px solid black;*/
    min-height: 300px;
    width:60%;
    
}


.faq{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 80px;
}
.afooter{
    font-size: small;
    text-decoration: none;
    margin: 15px;
    color: white;
}
button{
    border: none;
    background-color: blue;
    padding: 10px;
    
 }

 
button > a{
    color:white;
    text-decoration:none;
}
 .conteiner-footer{
    display: flex;
    background-color: rgb(0, 0, 0);
    min-height: 350px;
    justify-content: center;
    align-items: center;

 }
 h4{
    margin-left:10px;
    color: white;

 }
/*a{
    color: white;
}*/
 
 .section{
    /*background-color: pink;
    border: 1px solid black;*/
    
    width: 15%;
    height: 270px;
 }
 footer{
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
 }

 .finale{
    margin-left: 165px;
    /*background-color: beige;*/
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;

 }
