*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    font-family: 'Inter', sans-serif;

}

header{
    
    height: 70px;
    display: flex;
    /*
    position: fixed;
    z-index: 500;*/
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.titolo{
    background-color:rgb(91, 159, 248); 
    
}
h1{
   font-size: 60px;
   margin-left: 160px;
   padding-top:50px;
   width: 65%;
}
img{
    width: 90%;
}
#arrow{
    font-size: 40px;
}
.conteiner1{
    background-color:rgb(91, 159, 248);
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 400px;
    
}
.intro{
   /* background-color: pink;
    border:2px solid black;*/
    height: 300px;
    flex-basis: 25%;
   
}

.intro2{
   /* background-color: pink;
    border:2px solid black;*/
    
    height: 350px;
    flex-basis: 50%;
    
    display: flex;
    justify-content: center;

}

h2{
    font-size: 45px;
    margin-left: 215px;
    padding-top:50px;  
}
.radio{
    margin-left: 215px;
    padding-top:50px;
}
.conteiner2{
    /*background-color: rgb(167, 91, 91);*/
    display: flex;
    justify-content: center;
    min-height: 500px;
}


.section1{
    background-color: pink;
    min-height: 400px;
    flex-basis: 20%;
    border:1px solid black;
    margin: 20px;

}
#simboli{
     margin-left: 90px;
    margin-top: 15px;
}
h3{
    margin-top: 50px;
}
.user{
    
    background-color: aqua;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid black;
}

.conteiner3{
    background-color: coral;
    min-height: 350px;
    display: flex;
    justify-content: center;
}
.section2{
    background-color: pink;
    height: 300px;
    flex-basis: 70%;
    border:2px solid black; 
}



.conteiner4{
    background-color: darkgreen;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3{
    background-color: pink;
    height: 300px;
    flex-basis: 50%;
    border:2px solid black;
  
}

.section4{
    background-color: pink;
    height: 300px;
    flex-basis: 20%;
    border:2px solid black;
   padding: 20px;
}
p{
    font-size: small;
}

.conteiner5{
    background-color: rgb(255, 251, 9);
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.section5{
    background-color: pink;
    height: 300px;
    margin:35px;
    flex-basis: 20%;
    border:2px solid black;
}

.conteiner6{
    background-color: darkgray;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section6{
    background-color: pink;
    height: 200px;
    flex-basis: 70%;
    border:2px solid black;
    
}

.conteiner7{
    background-color: rgb(119, 178, 189);
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section7{
    background-color: pink;
    height: 400px;
    width: calc(100% / 3);
    border:2px solid black;
    display: flex;
    flex-wrap: wrap;
}
.minisection{
    background-color: cyan;
    height: 200px;
    width: calc(100% / 2);
    border:2px solid black;

}
.logo{
    width: 80px;
}
a{
    font-size: small;
    text-decoration: none;
    margin: 15px;
}
 button{
    border: none;
    background-color: blue;
    padding: 10px;
    
 }
button > a{
    color:white;
}
 .conteiner-footer{
    display: flex;
    background-color: rgb(0, 0, 0);
    min-height: 350px;
    justify-content: center;
    align-items: center;

 }
 h4{
    margin-left:10px;
    color: white;

 }
a{
    color: white;
}
 
 .section{
    /*background-color: pink;
    border: 1px solid black;*/
    
    width: 15%;
    height: 270px;
 }
 footer{
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
 }

 .finale{
    margin-left: 165px;
    /*background-color: beige;*/
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;

 }
